:ruby
  current_store = @ecp.event.store

!!!
%html{style: 'font-family: Arial, sans-serif; font-size: 14px'}
  %head
    %meta{content: 'text/html; charset=UTF-8', :'http-equiv' => 'Content-Type'}
  %body{style: 'font-family: Arial, sans-serif; font-size: 14px;'}
    %h2{style: 'font-family: Arial, sans-serif; font-size: 14px; border-bottom-style: dashed; border-bottom-color: #ccc; border-bottom-width: 1px; padding-bottom: 20px; margin: 20px 5%;'}
      = show_company_logo(current_store)
      %span{style: 'float:right;font-size:12px'}
    %p.hello{style: 'font-family: Arial, sans-serif; font-size: 14px; line-height: 1.5; font-weight: bold; margin: 15px 5%;'}= t('sale_mailer.send_bookings_email_for_customer.hello', customer: ' ')
    - unless current_store.email_setting.online_event_booking_content.blank?
      %p{style: 'font-family: Arial, sans-serif; font-size: 14px; line-height: 1.5; margin: 15px 5%;'}= nl2br custom_content
    %p{style: 'font-family: Arial, sans-serif; font-size: 14px; line-height: 1.5; margin: 15px 5%;'}
      = t('sale_mailer.send_bookings_email_for_customer.thanks_for_booking')
      %strong #{@ecp.event.name}
      = t('sale_mailer.send_bookings_email_for_customer.with', shop_name: current_store.name)
      = t('views.sale_mailer.any_questions')
      = mail_to current_store.company.email
      = t('views.sale_mailer.or_call', telephone: current_store.company.telephone)
    %p{style: 'font-family: Arial, sans-serif; font-size: 14px; line-height: 1.5; margin: 15px 5%;'}= t('sale_mailer.send_bookings_email_for_customer.your_booking_details')
    %p{style: 'font-family: Arial, sans-serif; font-size: 14px; line-height: 1.5; margin: 15px 5%;'}
      %strong= t('sale_mailer.send_bookings_email_for_customer.event_date')
      \: #{@ecp.event.starts_at.in_time_zone.strftime("#{@ecp.event.starts_at.in_time_zone.day.ordinalize} %B, %Y at %I:%M%P")}
    %p{style: 'font-family: Arial, sans-serif; font-size: 14px; line-height: 1.5; font-weight: bold; margin: 15px 5%;'}= t('sale_mailer.send_bookings_email_for_customer.further_instructions')
    %p{style: 'font-family: Arial, sans-serif; font-size: 14px; line-height: 1.5; margin: 15px 5%;'}= nl2br @ecp.event.instructions
    %div{style: 'clear:both'}
    %p.signature.best{style: 'font-family: Arial, sans-serif; font-size: 12px; line-height: 1.5; color: #999; margin: 15px 5%; clear: both;'}
      = t('views.sale_mailer.with_regards')
      %br
      = current_store.name
    %p.footer{style: 'font-family: Arial, sans-serif; font-size: 11px; line-height: 1.5; border-top-style: dashed; border-top-color: #ccc; border-top-width: 1px; padding-top: 20px; color: #999; margin: 20px 5% 15px;'}
      = image_tag current_store.avatar.image.url(:original) unless current_store.avatar.blank?
      %br
      = t('views.sale_mailer.sent_by_centre', company_name: current_store.company.name)
      = t('views.sale_mailer.telephone', tel: current_store.company.telephone)
      = t('views.sale_mailer.registered_address', address: current_store.company.address.full_address)
