%thead
  %tr
    %th= t('notes.table_headers.written_by')
    %th= t('notes.table_headers.date')
    %th= t('notes.table_headers.note')
    %th= t('notes.table_headers.files')
    %th= t('notes.table_headers.actions')
