= render 'form_amend'

= content_for :overlays do
  = render 'overlays/purchase_orders/email_supplier_modal'
  = render 'overlays/purchase_orders/add_note_modal'
  = render 'overlays/purchase_orders/update_packing_list_modal'