%ul.breadcrumb
  %li
    = link_to root_path, class: 'glyphicons home' do
      %i
      = t('business_contacts.new.home')
  %li.divider
  %li= t('business_contacts.new.crm')
.innerLR
  .row-fluid
    .span4
      %h3.heading-mosaic= t('business_contacts.new.create_supplier_contact')
= render 'form'
