= simple_form_for resource, validate: true do |f|
  = f.error_messages
  .innerLR
    .widget.widget-tabs
      .widget-head
        %ul
          %li.active
            = link_to '#productDescriptionTab', class: 'glyphicons credit_card', :'data-toggle' => 'tab' do
              %i>
              = t('gift_card_types.form.gift_card_details')
      .widget-body
        .tab-content
          #productDescriptionTab.tab-pane.active
            .row-fluid
              .span3
                %strong= t('gift_card_types.form.card_value')
                %p.muted= t('gift_card_types.form.card_value_text')
              .span6
                = f.input :value, input_html: { value: number_to_currency(f.object.value.zero? ? '0.00' : f.object.value, precision: current_store.currency_precision, unit: '') }
              .span3
            %hr.separator.bottom/
            .row-fluid
              .span3
                %strong= t('gift_card_types.form.validity')
                %p.muted= t('gift_card_types.form.validity_text')
              .span3
                = f.input :valid_for, collection: resource.class::VALID_INTERVAL_IN_MONTH.map{|u| ["#{u} months", u]},
                  include_blank: false, input_html: { class: 'selectpicker' }
    .heading-buttons
      .buttons.pull-right{style: 'margin: 0;'}
        %button.btn.btn-primary.btn-icon.glyphicons.ok_2{ type: 'submit' }
          %i
          = t('gift_card_types.form.save')
      .clearfix
