%ul.breadcrumb
  %li
    = link_to root_path, class: 'glyphicons home' do
      %i
      = t('settings.servicing.home')
  %li.divider
  %li= link_to t('settings.servicing.settings'), settings_path
.innerLR
  .row-fluid
    .span12
      %h3.heading-mosaic= t('settings.servicing.settings_servicing')
= simple_nested_form_for current_store, url: update_store_settings_path, html: {method: 'put'} do |f|
  = f.error_messages
  = hidden_field_tag :back_url, servicing_settings_path
  = hidden_field_tag :notice, t('controllers.servicing_success')
  = hidden_field_tag :back_action, 'servicing'
  .innerLR
    .widget.widget-tabs
      .widget-head
        %ul
          %li.active
            = link_to '#DetailsTab', class: 'glyphicons settings', :'data-toggle' => 'tab' do
              %i>
              = t('settings.servicing.terms_and_service_types')
          %li
            = link_to '#HistoryTab', class: 'glyphicons electrical_plug', :'data-toggle' => 'tab' do
              %i>
              = t('settings.servicing.service_kits')
      .widget-body
        .tab-content
          #DetailsTab.tab-pane.active
            .row-fluid
              .span3
                %strong= t('settings.servicing.standard_terms_of_service')
                %p.muted= t('settings.servicing.standard_terms_of_service_text')
              .span9
                = f.input :standart_term, input_html: { rows: '2', style: 'width:98%'}
            = f.simple_fields_for :type_of_services, current_store.service_types do |build|
              = render 'application/type_of_service_fields', f: build
            = f.link_to_add :type_of_services, class: 'btn btn-default btn-icon glyphicons circle_plus' do
              %i
              = t('settings.servicing.add_service_type')
          #HistoryTab.tab-pane
            = f.simple_fields_for :service_kits, current_store.service_kits_types do |build|
              = render 'application/service_kit_fields', f: build
            = f.link_to_add :service_kits, class: 'btn btn-default btn-icon glyphicons circle_plus' do
              %i
              = t('settings.servicing.add_service_kit')
    .heading-buttons
      .buttons.pull-right{style: 'margin: 0;'}
        %button.btn.btn-primary.btn-icon.glyphicons.ok_2{ type: 'submit' }
          %i
          = t('views.actions.save')
      .clearfix
