%ul.breadcrumb
  %li
    = link_to root_path, class: 'glyphicons home' do
      %i
      = t('customers.edit.home')
  %li.divider
  %li= t('customers.edit.crm')
.innerLR
  .row-fluid
    .span4
      %h3.heading-mosaic= t('customers.edit.edit_customer')
= render 'form'
