%p.center= t('passwords.edit.title')
%hr{style: "margin: 20px 0"}
.row-fluid
  .span4.offset1.center
    = image_tag('login-image.png')
  .span6
    = simple_form_for resource, as: resource_name, url: password_path(resource_name), validate: true do |f|
      = f.input :email, label_html: { class: 'strong' }, input_html: { class: 'input-block-level' },
              autofocus: true, validate: { uniqueness: false }
      %button.btn.btn-success.btn-icon.glyphicons.lock{ type: 'submit' }
        %i
        = t('passwords.new.button')
