!!!5
%html
  %head
  %body
    = t('company_mailer.created_new_company.company_name')
    = @company.name
    %br
    = t('company_mailer.created_new_company.owner_email')
    = @company.owner.email
    %br
    = t('company_mailer.created_new_company.fname')
    = @company.owner.given_name
    %br
    = t('company_mailer.created_new_company.lname')
    = @company.owner.family_name
    %br
    = t('company_mailer.created_new_company.phone')
    = @company.telephone
