!!!
%html{style: 'font-family: Arial, sans-serif; font-size: 14px'}
  %head
    %meta{content: 'text/html; charset=UTF-8', 'http-equiv' => 'Content-Type'}
  %body{style: 'font-family: Arial, sans-serif; font-size: 14px;'}
    %h2{style: 'font-family: Arial, sans-serif; font-size: 14px; border-bottom-style: dashed; border-bottom-color: #ccc; border-bottom-width: 1px; padding-bottom: 20px; margin: 20px 5%;'}
      = image_tag "#{Figaro.env.host}/assets/email-logo.png", alt: t('company_mailer.common.company_hq')
    %p.hello{style: 'font-family: Arial, sans-serif; font-size: 14px; line-height: 1.5; font-weight: bold; margin: 15px 5%;'}= t('company_mailer.welcome.congratulations')
    %p{style: 'font-family: Arial, sans-serif; font-size: 14px; line-height: 1.5; margin: 15px 5%;'}= t('company_mailer.common.hi', full_name: @company.owner.full_name)
    %p{style: 'font-family: Arial, sans-serif; font-size: 14px; line-height: 1.5; margin: 15px 5%;'}
      = t('company_mailer.welcome.able_to_login')
    %p{style: 'font-family: Arial, sans-serif; font-size: 14px; line-height: 1.5; margin: 15px 5%;'}
      %b= t('company_mailer.welcome.login_details')
    %p{style: 'font-family: Arial, sans-serif; font-size: 14px; line-height: 1.5; margin: 15px 5%;'}
      = t('company_mailer.welcome.account_access')
      %br
      = t('company_mailer.welcome.username')
      %strong #{@company.owner.email}
      %br
      = t('company_mailer.welcome.password')
      %strong= t('company_mailer.welcome.set_a_registration')
    %p.button{style: 'font-family: Arial, sans-serif; font-size: 14px; line-height: 1.5; margin: 25px 5%;'}
      %a{href: "#{Figaro.env.host}", style: 'font-family: Arial, sans-serif; font-size: 14px; color: #fff; -webkit-border-radius: 6px; -moz-border-radius: 6px; border-radius: 6px; text-decoration: none; font-weight: bold; background-color: #00afdb; padding: 12px 24px;'}= t('company_mailer.welcome.login_to_dchq')
    %p{style: 'font-family: Arial, sans-serif; font-size: 14px; line-height: 1.5; margin: 15px 5%;'}= t('company_mailer.welcome.congratulations2')
    %p{style: 'font-family: Arial, sans-serif; font-size: 14px; line-height: 1.5; margin: 15px 5%;'}
      = t('company_mailer.welcome.check_out')
      = link_to t('company_mailer.welcome.support_docs'), "#{Figaro.env.host}/Docs-DCHQ-v1.0.pdf"
      = t('company_mailer.welcome.for_useful')
