!!!
%html{style: 'font-family: Arial, sans-serif; font-size: 14px'}
  %head
    %meta{content: 'text/html; charset=UTF-8', 'http-equiv' => 'Content-Type'}
  %body{style: 'font-family: Arial, sans-serif; font-size: 14px;'}
    %h2{style: 'font-family: Arial, sans-serif; font-size: 14px; border-bottom-style: dashed; border-bottom-color: #ccc; border-bottom-width: 1px; padding-bottom: 20px; margin: 20px 5%;'}
      = show_company_logo(current_store)
      %span{style: 'float:right;font-size:12px'}= t('views.emails_examples.receipt', receipt: '<SALE_ID>')
    %p.hello{style: 'font-family: Arial, sans-serif; font-size: 14px; line-height: 1.5; font-weight: bold; margin: 15px 5%;'}= t('emails_examples.online_event_booking.hello', name: '<CUSTOMER_FULL_NAME>')
    - unless current_store.email_setting.online_event_booking_content.blank?
      %p{style: 'font-family: Arial, sans-serif; font-size: 14px; line-height: 1.5; margin: 15px 5%;'}= nl2br current_store.email_setting.online_event_booking_content
    %p{style: 'font-family: Arial, sans-serif; font-size: 14px; line-height: 1.5; margin: 15px 5%;'}
      = t('emails_examples.online_event_booking.thanks_for_booking')
      %strong #{'<EVENT_NAME>'}
      = "#{t('emails_examples.online_event_booking.thanks_for_booking')} #{current_store.name}."
      = t('views.emails_examples.any_questions')
      = mail_to current_company.email
      = t('views.emails_examples.or_call', telephone: current_company.telephone)
    %p{style: 'font-family: Arial, sans-serif; font-size: 14px; line-height: 1.5; margin: 15px 5%;'}= t('emails_examples.online_event_booking.booking_details_below')
    %p{style: 'font-family: Arial, sans-serif; font-size: 14px; line-height: 1.5; margin: 15px 5%;'}
      %strong= t('views.emails_examples.event_date')
      \: #{'<EVENT_START_TIME>'}
    %p{style: 'font-family: Arial, sans-serif; font-size: 14px; line-height: 1.5; font-weight: bold; margin: 15px 5%;'}= t('views.emails_examples.further_instructions')
    %p{style: 'font-family: Arial, sans-serif; font-size: 14px; line-height: 1.5; margin: 15px 5%;'}= '<EVENT_INSTRUCTIONS>'
    - if current_store.email_setting.include_sale_receipt_to_online_event_booking?
      %table{border: '0', cellpadding: '0', cellspacing: '0', style: 'font-family: Arial, sans-serif; font-size: 13px; line-height: 1.5; margin: 15px 5%; width: 90%;'}
        %thead
          %tr{bgcolor: '#EAEAEA', style: 'font-family:Arial, Helvetica, sans-serif;font-size:13px;color:#747a7f;line-height:20px;'}
            %td{style: 'padding:5px 9px 6px 9px; line-height:1em; border-right:1px solid #d4d4d4;'}
              %b= t('emails_examples.online_event_booking.event')
            %td{style: 'padding:5px 9px 6px 9px; line-height:1em; border-right:1px solid #d4d4d4;'}
              %b= t('emails_examples.online_event_booking.unit_price')
            %td{style: 'padding:5px 9px 6px 9px; line-height:1em; border-right:1px solid #d4d4d4;'}
              %b= t('emails_examples.online_event_booking.qty')
            %td{style: 'padding:5px 9px 6px 9px; line-height:1em;'}
              %b= t('emails_examples.online_event_booking.sub_total')
        %tbody
          - 2.times do |sale_event|
            %tr{style: 'font-family:Arial, Helvetica, sans-serif;font-size:13px;color:#000;line-height:20px;'}
              %td{style: 'padding:7px 9px 9px 9px; border-left:1px solid #EAEAEA; border-bottom:1px solid #EAEAEA; border-right:1px solid #EAEAEA;'}
                %strong= "<EVENT_NAME_#{sale_event}>"
                = succeed '<EVENT_START_DAY>' do
                  %br/
                #{'<EVENT_START_TIME_MONTH_AND_YEAR>'} (#{'EVENT_DISTANCE_IN_TIME'})
              %td{style: 'padding:7px 9px 9px 9px; border-bottom:1px solid #EAEAEA; border-right:1px solid #EAEAEA;'}
                = '<UNIT_PRICE>'
              %td{style: 'padding:7px 9px 9px 9px; border-bottom:1px solid #EAEAEA; border-right:1px solid #EAEAEA;'}
                = '<QUANTITY>'
              %td{style: 'padding:7px 9px 9px 9px; border-bottom:1px solid #EAEAEA; border-right:1px solid #EAEAEA;'}
                = '<SUB_TOTAL_WITH_DISCOUNT>'
            %tr{style: 'font-family:Arial, Helvetica, sans-serif;font-size:13px;color:#000;line-height:20px;'}
              %td{style: 'padding:7px 9px 9px 9px; border-left:1px solid #EAEAEA; border-bottom:1px solid #EAEAEA; border-right:1px solid #EAEAEA;'}
                = '<KIT_HIRE_NAME>'
              %td{style: 'padding:7px 9px 9px 9px; border-bottom:1px solid #EAEAEA; border-right:1px solid #EAEAEA;'}
                = '<UNIT_PRICE>'
              %td{style: 'padding:7px 9px 9px 9px; border-bottom:1px solid #EAEAEA; border-right:1px solid #EAEAEA;'}
                1
              %td{style: 'padding:7px 9px 9px 9px; border-bottom:1px solid #EAEAEA; border-right:1px solid #EAEAEA;'}
                = '<SUB_TOTAL_WITH_DISCOUNT>'
            %tr{style: 'font-family:Arial, Helvetica, sans-serif;font-size:13px;color:#000;line-height:20px;'}
              %td{style: 'padding:7px 9px 9px 9px; border-left:1px solid #EAEAEA; border-bottom:1px solid #EAEAEA; border-right:1px solid #EAEAEA;'}
                = '<INSURANCE_NAME>'
              %td{style: 'padding:7px 9px 9px 9px; border-bottom:1px solid #EAEAEA; border-right:1px solid #EAEAEA;'}
                = '<UNIT_PRICE>'
              %td{style: 'padding:7px 9px 9px 9px; border-bottom:1px solid #EAEAEA; border-right:1px solid #EAEAEA;'}
                1
              %td{style: 'padding:7px 9px 9px 9px; border-bottom:1px solid #EAEAEA; border-right:1px solid #EAEAEA;'}
                = '<SUB_TOTAL_WITH_DISCOUNT>'
            - 2.times do |transport|
              %tr{style: 'font-family:Arial, Helvetica, sans-serif;font-size:13px;color:#000;line-height:20px;'}
                %td{style: 'padding:7px 9px 9px 9px; border-left:1px solid #EAEAEA; border-bottom:1px solid #EAEAEA; border-right:1px solid #EAEAEA;'}
                  = "<TRANSPORT_NAME_#{transport}>"
                %td{style: 'padding:7px 9px 9px 9px; border-bottom:1px solid #EAEAEA; border-right:1px solid #EAEAEA;'}
                  = '<UNIT_PRICE>'
                %td{style: 'padding:7px 9px 9px 9px; border-bottom:1px solid #EAEAEA; border-right:1px solid #EAEAEA;'}
                  = '<QUANTITY>'
                %td{style: 'padding:7px 9px 9px 9px; border-bottom:1px solid #EAEAEA; border-right:1px solid #EAEAEA;'}
                  = '<SUB_TOTAL_WITH_DISCOUNT>'
            - 2.times do |additional|
              %tr{style: 'font-family:Arial, Helvetica, sans-serif;font-size:13px;color:#000;line-height:20px;'}
                %td{style: 'padding:7px 9px 9px 9px; border-left:1px solid #EAEAEA; border-bottom:1px solid #EAEAEA; border-right:1px solid #EAEAEA;'}
                  = "<ADDITIONAL_NAME_#{additional}>"
                %td{style: 'padding:7px 9px 9px 9px; border-bottom:1px solid #EAEAEA; border-right:1px solid #EAEAEA;'}
                  = '<UNIT_PRICE>'
                %td{style: 'padding:7px 9px 9px 9px; border-bottom:1px solid #EAEAEA; border-right:1px solid #EAEAEA;'}
                  = '<QUANTITY>'
                %td{style: 'padding:7px 9px 9px 9px; border-bottom:1px solid #EAEAEA; border-right:1px solid #EAEAEA;'}
                  = '<SUB_TOTAL_WITH_DISCOUNT>'
      %p{style: 'float:right; margin: 5px 5%; font-family: Arial, sans-serif; font-size: 13px; line-height: 1.5;  border-bottom-style: dashed; border-bottom-color: #ccc; border-bottom-width: 1px; clear:both;'}
        %strong= t('emails_examples.online_event_booking.sub_tot')
        = '<SALE_SUB_TOTAL>'
      %p{style: 'float:right; margin: 5px 5%; font-family: Arial, sans-serif; font-size: 13px; line-height: 1.5;  border-bottom-style: dashed; border-bottom-color: #ccc; border-bottom-width: 1px; clear:both;'}
        %strong= t('emails_examples.online_event_booking.tax_inc')
        = '<SALE_TAX_RATE_TOTAL>'
      %p{style: 'float:right; margin: 15px 5%; font-family: Arial, sans-serif; font-size: 16px; line-height: 1.5;  border-bottom-style: dashed; border-bottom-color: #ccc; border-bottom-width: 1px; clear:both;'}
        %strong= t('emails_examples.online_event_booking.net_due')
        = '<SALE_GRAND_TOTAL>'
      %p{style: 'float:right; margin: 5px 5%; font-family: Arial, sans-serif; font-size: 13px; line-height: 1.5; clear:both;'}
        %strong= t('emails_examples.online_event_booking.payments')
        - 3.times do |method|
          = '<AMOUNT>'
          %em #{"<METHOD_NAME_#{method}>"}
    %div{style: 'clear:both'}
    %p.signature.best{style: 'font-family: Arial, sans-serif; font-size: 12px; line-height: 1.5; color: #999; margin: 15px 5%; clear: both;'}
      = t('views.service_mailer.note_add.with_regards')
      %br
      = current_store.name
    %p.footer{style: 'font-family: Arial, sans-serif; font-size: 11px; line-height: 1.5; border-top-style: dashed; border-top-color: #ccc; border-top-width: 1px; padding-top: 20px; color: #999; margin: 20px 5% 15px;'}
      = t('views.emails_examples.this_email_sent_to', email: '<RECEPIENT_EMAIL>')
