.row-fluid
  .span3
    %strong= t('customers.form.address_details')
    %p.muted= t('customers.form.address_details_text')
  .span3
    = f.input :first, input_html: { class: 'span12' }
  .span3
    = f.input :second, input_html: { class: 'span12' }
  .span3
    = f.input :city, input_html: { class: 'span12' }
.row-fluid
  .span3.offset3
    = f.input :state, input_html: { class: 'span12' }
  .span3
    = f.input :country_code, collection: CountrySelect::COUNTRIES.map{ |u| [u.last, u.first] },
                             input_html: { class: 'select2 span12' }
  .span2
    = f.input :post_code, input_html: { class: 'span12' }
