.row-fluid
  .span3
    %strong= t('settings.edit.payment_methods')
    %p.muted= t('settings.edit.payment_methods_text')
  .span3
    = label_tag :payment_select, t('settings.edit.gateway_credential')
    = select_tag :payment_select, options_for_select([['PayPal'], ['Stripe.com'], ['Epay']]), class: 'selectpicker span11', onchange: 'Dchq.Settings.show_hide_payment_options(this)'
#paypal
  .row-fluid
    .span3.offset3
      = f.input :paypal_login, input_html: { class: 'span11' }
    .span3
      = f.input :paypal_password, input_html: { class: 'span11', value: current_company.payment_credential.try(:paypal_password) }
    .span3
      = f.input :paypal_signature, input_html: { class: 'span11' }
#stripe.hide
  .row-fluid
    .span3.offset3
      = f.input :stripe_secret_key, input_html: { class: 'span11' }
    .span3
      = f.input :stripe_publishable_key, input_html: { class: 'span11' }
#epay.hide
  .row-fluid
    .span3.offset3
      = f.input :epay_merchant_number, input_html: { class: 'span11' }
    .span3
      = f.input :epay_password, input_html: { class: 'span11', value: current_company.payment_credential.try(:epay_password) }
    .span3
      = f.input :epay_currency, input_html: { class: 'span11' }
