%thead
  %tr
    %th= t('products.show_table_headers.order_id')
    %th= t('products.show_table_headers.date')
    %th= t('products.show_table_headers.totals')
    %th= t('products.show_table_headers.to_pay')
    %th= t('products.show_table_headers.status')
