- for_brand ||= false
%thead
  %tr
    %th= t('sales.table_headers.order_id')
    %th= t('sales.table_headers.date')
    %th= t('sales.table_headers.products')
    %th= t('sales.table_headers.value')
    %th= t('sales.table_headers.to_pay')
    %th= t('sales.table_headers.status')
